/.bundle/
/.ruby-version
/.yardoc
/_yardoc/
/bin/
/coverage/
/db/
/doc/
/generated/
/pkg/
/spec/reports/
/tmp/
/vendor/
.DS_Store
*.tags
tags
.srclib-cache/
*.sublime-*
.byebug_history
*.xlsx
Gemfile.lock
.codeintel/
